/* CSS Resets*/
body, p {
  margin: 0;
  padding: 0;
}

/* Font */
body {
  font-family: monaco, Consolas, 'Lucida Console', monospace;
  --color: #00F72C;
  color: var(--color);
  background-color: black;
}

/* Nav bar */
.nav-bar {
  /* Flexbox container */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  /* End flexbox */

  /* Sizing */
  width: 100%;
  height: 50px;
  /* End Sizing */

  box-shadow: 0 3px 3px white;
}

.nav-bar > .nav-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;

  width: 50%;
  height: 100%;
}

.nav-items > .nav-item {
  /* Flexbox container */
  /* This vertically aligns the text in nav-item */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  /* End Flexbox container */

  /* Sizing */
  height: 100%;
  /* End Sizing */
  text-align: center;
  flex-grow: 1;
  flex-shrink 1;
}

/* Sections */
.section {
  border: solid thin black;
  width: 65%;
  margin: auto;
}

@media (max-width : 768px) {
  .section {
    width: 95%;
  }
}

.section-header {
  text-align: center;
}
