/* CSS Resets*/
body, p {
  margin: 0;
  padding: 0;
}

/* Font */
body {
  font-family: monaco, Consolas, 'Lucida Console', monospace;
  --color: #00F72C;
  color: var(--color);
  background-color: rgba(0,0,0,.85);
}

/* Nav bar */
.nav-bar {
  /* Flexbox container */
  display: flex;
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  /* End flexbox */

  /* Sizing */
  width: 100%;
  height: 50px;
  /* End Sizing */

  box-shadow: 0 3px 3px white;
}

.nav-bar > .nav-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;

  width: 50%;
  height: 100%;
}

.nav-items > .nav-item {
  /* Flexbox container */
  /* This vertically aligns the text in nav-item */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  /* End Flexbox container */

  /* Sizing */
  height: 100%;
  /* End Sizing */
  text-align: center;
  flex-grow: 1;
  flex-shrink 1;
}

/* Site Intro */
.site-intro {
  /* Flexbox */
  display: flex;
  flex-direction: col;
  justify-content: center;
  align-items: center;
  align-content: center;

  height: 100vh;
  width: 100vw;
}

.intro-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 2.5em;
}

/* Sections */
.section {
  width: 65%;
  margin: auto;
  margin-top: 40px;
  padding-bottom: 40px;
  border-bottom: solid thin var(--color);
}

@media (max-width : 768px) {
  .section {
    width: 95%;
  }
}

.section-header {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 2em;
  text-align: center;

  margin-bottom: 10px;
}

.section-body {
  text-align: center;
}

/* Skills */
.skill-level {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.gray-star {
  color: grey;
}
.gold-star {
  color: gold;
}
